html{
    background-color: #F5F9E9;
}

header {
    background-color: #36453B;
    color: white;
    padding: 20px;
    text-align: center;
}

h1{
    font-weight: 400;
}

#navbar{
    overflow: hidden;
    background-color: #C2C1A5;
    border-bottom: 15px solid #596869;
}

#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover{
    background-color: #515751;
    color: #F5F9E9;
}